@font-face {
     font-family: MyriadProBold;
     src: url('../font/MyriadPro-BoldCond.otf');
}
 html{
     height: 100% !important;
     min-height: 100%;
     background: url("../img/background.png") no-repeat center center fixed; 
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover; 
     z-index: -1; 
     background-color: #BD1C24;
 }
 body {
     min-height: 100%;
     width: 100%; 
     text-align: center;
     overflow-x: hidden;
     padding-top: 125px;
     -webkit-transition: all 0.5s;
     -o-transition: all 0.5s;
     transition: all 0.5s;
}

 h1{
     font-family: MyriadProBold;
     font-size: 30px;
     letter-spacing: 3px;
     text-transform: uppercase;
     color: #2D2727;
     margin-top: 60px;
     margin-bottom: 90px;
}
 .tag_br{
     display: none;
}
 a{
     text-decoration: none;
}
 h1+a{
     font-family: MyriadProBold;
     font-size: 48px;
     color: #FFF200;
     letter-spacing: 13px;
}
 .links{
     margin-top: 35px;
}
 .links img{
     padding: 0px 18px;
}
 